web_secrets = {
    "datahubrelay.de": {"user": "", "password": ""},
    "datahubrelay.eu": {"user": "", "password": ""},
    "datahubrelay.cz": {"user": "", "password": ""},
    "datahubrelay.gr": {"user": "", "password": ""},
    "datahubrelay.no": {"user": "", "password": ""},
    "datahubrelay.at": {"user": "", "password": ""}
}

db_secrets = {
    'LOGDB': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'FE': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'S1': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'S1-SLC': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'S2A-L1C': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'S2B-L1C': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'S2A-L2A': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'S2B-L2A': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'S3': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    },
    'S5': {
        'host': "",
        'database': "",
        'user': "",
        'password': ""
    }
}

atlassian = {
    'servicedesk': {
        'username': "",
        'api_token': ""
    }
}